/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'FASTP' {
        ext.args   = { "--qualified_quality_phred ${params.fastp_qualified_quality}" }
        publishDir = [ path: { "${params.outdir}/qc/fastp" }, mode: params.publish_dir_mode ]
    }

    withName: 'NANOPLOT' {
        publishDir = [ path: { "${params.outdir}/qc/nanoplot" }, mode: params.publish_dir_mode ]
    }

    withName: 'PORECHOP_PORECHOP' {
        publishDir = [ path: { "${params.outdir}/qc/porechop" }, mode: params.publish_dir_mode ]
    }

    withName: 'FILTLONG' {
        ext.args   = { "--min_length ${params.filtlong_min_length} --keep_percent ${params.filtlong_keep_percent}" }
        publishDir = [ path: { "${params.outdir}/qc/filtlong" }, mode: params.publish_dir_mode ]
    }

    withName: 'UNICYCLER' {
        publishDir = [ path: { "${params.outdir}/assembly/unicycler" }, mode: params.publish_dir_mode ]
    }

    withName: 'FLYE' {
        publishDir = [ path: { "${params.outdir}/assembly/flye" }, mode: params.publish_dir_mode ]
    }

    withName: 'MEDAKA' {
        ext.args   = { "-m ${params.medaka_model}" }
        publishDir = [ path: { "${params.outdir}/assembly/medaka" }, mode: params.publish_dir_mode ]
    }

    withName: 'QUAST' {
        publishDir = [ path: { "${params.outdir}/qc/quast" }, mode: params.publish_dir_mode ]
    }

    withName: 'CHECKV_ENDTOEND' {
        publishDir = [ path: { "${params.outdir}/checkv" }, mode: params.publish_dir_mode ]
    }

    withName: 'PHAROKKA_PHAROKKA' {
        publishDir = [ path: { "${params.outdir}/annotation/pharokka" }, mode: params.publish_dir_mode ]
    }

    withName: 'VIBRANT' {
        publishDir = [ path: { "${params.outdir}/lifestyle/vibrant" }, mode: params.publish_dir_mode ]
    }

    withName: 'BACPHLIP' {
        publishDir = [ path: { "${params.outdir}/lifestyle/bacphlip" }, mode: params.publish_dir_mode ]
    }

    withName: 'DIAMOND_BLASTX' {
        ext.args   = { "--evalue ${params.diamond_evalue}" }
        publishDir = [ path: { "${params.outdir}/prophage/diamond" }, mode: params.publish_dir_mode ]
    }

    withName: 'PHINDERSUMMARY' {
        publishDir = [ path: { "${params.outdir}/summary" }, mode: params.publish_dir_mode ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
